[Unit]
Description=MM5D controlling software

[Service]
ExecStart=/usr/local/bin/mm5d.py
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target

