Package: mm5d-prepare
Version: 0.5.1
Section: misc
Priority: extra
Architecture: all
Installed-Size: 44 kB
Maintainer: Pozsár Zsolt <pozsar.zsolt@szerafingomba.hu>
Depends: lsb-base, build-essential
Description: Prepare OS for install MM5D software
 This is a software part of MM5D growing house controlling
 and remote monitoring equipment.
